# yaml-language-server: $schema=https://github.com/epics-containers/ec-helm-charts/releases/download/4.0.0/argocd-apps.schema.json

# This file configures an ArgoCD app of apps that represent a
# group of beamline or accelerator IOCs and services. The configuration of the
# services are in the separate repo indicated by repoURL.

# This repostory only controls which services and which versions of those
# services should be running on the cluster. It is recommended that this repo
# be updated by a CI/CD pipeline or configuration tools only.

project: p48-beamline
destination:
  name: pollux
  namespace: p48-beamline
source:
  repoURL: https://github.com/epics-containers/p48-services
  targetRevision: main

services:
  # Each item is of the form:
  #   service: service name as it appears in K8S (statefulset/deployment name)
  #     targetRevision: optional override for targetRevision above
  #     repoURL: optional override for git repo to source the helm chart from
  #            the path is always services/<service> within that repo
  #     removed: set to true to remove the service from the cluster
  #     enabled: set to false to stop a service
  p48-epics-pvcs:
  p48-epics-opis:
  p48-epics-gateways:
  p48-proxy:

  # daq services ###############################################################
  p48-rabbitmq:
  p48-blueapi:
    targetRevision: blueapi-to-1.11.4
  p48-nexus:
    targetRevision: nexus-changes
  p48-tiled:

  # IOCs
  bl48p-ea-panda-01:
  bl48p-ea-dcam-01:
    enabled: true
    targetRevision: main
  bl48p-ea-dcam-02:
  bl48p-mo-ioc-01:
